.social-media {
    background: #333;
    color: #f2f2f2;
    text-align: center;

    li {
        display: inline-block;
        margin: 10px;
    }
}

footer {
    background-color: $accent-color;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}