nav {
    position: fixed;
    width: 100%;
    height: 55px;
    margin: 0 0 70px 0;
    background-color: rgba(0, 0, 0, 0.35);
    top: 0;

    @include breakpoint(small) {
        .nav-list {
            line-height: 25px;
            position: static;
            float: right;
            width: auto;
            margin-top: 15px;
        }
    }

    &.active .nav-list {
        position: fixed;
        z-index: 1;
        float: right;
        width: 100vw;
        height: 100%;
        margin-top: 15px;
        margin-top: 0;
        margin-left: -20px;
        padding-left: 20px;
        background: rgba(0, 0, 0, 0.35);

        ul.top {
            display: block;
            opacity: 1;
            margin: 35px 50px 0 0;

            li {
                float: right;
                text-align: right;
                height: 25px;
                width: 14.5em;
                transition: opacity .3s, color .3s;

                @include breakpoint(small) {
                    height: 14.5em;
                }
            }
        }
    }

    .logo {
        display: inline-block;
        vertical-align: middle;
    }

    .mobile-nav-toggle {
        position: absolute;
        z-index: 2;
        top: 15px;
        right: 75px;
        display: inline-block;
        width: 35px;
        height: 25px;
        margin-top: 10px;
        vertical-align: middle;

        @include breakpoint(small) {
            display: none;
        }

        &:hover {
            cursor: pointer;
        }

        span,
        span::before,
        span::after {
            position: absolute;
            display: block;
            width: 35px;
            height: 5px;
            content: '';
            cursor: pointer;
            transition: all 0.5s $cubic-bezier;
            border-radius: 1px;
            background: white;
        }

        span {
            &::before {
                top: -10px;
            }

            &::after {
                bottom: -10px;
            }
        }

        &.active {
            span {
                background-color: transparent;
            }

            span {
                &::before {
                    top: 0;
                    transform: rotate(45deg);
                }

                &::after {
                    top: 0;
                    transform: rotate(-45deg);
                }
            }
        }
    }

    ul {
        display: none;
        transition: opacity 0.5s $cubic-bezier;
        opacity: 0;

        @include breakpoint(small) {
            display: inline-block;
            opacity: 1;
        }

        li {
            display: inline-block;
            margin: 0 15px;
            cursor: pointer;

            a {
                text-decoration: none;
                color: #fff;

                &:hover {
                    color: $accent-color;
                }
            }
        }
    }

    .sub1 {
        display: none;
    }
}