@mixin breakpoint($point) {
    @if $point == large {
        @media (min-width: 70em) {
            @content;
        }
    }

    @else if $point == medium {
        @media (min-width: 64em) {
            @content;
        }
    }

    @else if $point == small {
        @media (min-width: 45em) {
            @content;
        }
    }

    @else if $point == mobile {
        @media (min-width: 37.5em) {
            @content;
        }
    }
}

%clearfix {
    *zoom: 1;

    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

@mixin border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}